
.user-info{
  display: inline-block;
  
  
}
.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
}
.profile-card{
  min-width: 220px;
   position: absolute;
   
}

.profile-card  button{
    background-color: #1a1717;
    display: inline-block;
    width: 12%;
    margin: 0;
    
  }
.profile-card button:hover {
    background-color: #000000;

  }